/target
**/*.rs.bk
.idea
*.ppm
*.rs1
raytracer_challenge_reference_impl/**/*.png

raytracer_challenge_reference_impl/downloaded_obj_files/*.obj
raytracer_challenge_reference_impl/downloaded_obj_files/*.jpg
raytracer_challenge_reference_impl/examples/*.jpg
micrograd-rs/python/venv
micrograd-rs/python/gout*
micrograd-rs/src/*.png
renderer_benny/res


renderer_benny/res



